/* Aplicando boas práticas */
* {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
}

/* Resetando o posicionamento do body */
body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

/* Ajustando o tamanho, cor e fixando o header */
header {
    background-color: rgb(38, 28, 61);
    text-align: center;
    width: 100%;
    border: 2px solid gray;
    padding: 30px;
    position: fixed;
    top: 0;
    z-index: 10;
}

/* Alterando a cor dos nomes no menu */
span {
    color: rgb(182, 165, 189);
}

/* Ajustando e retirando os bullets da lista não-ordenada */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Ajustando a lista para ficar um ícone ao lado do outro */
li {
    display: inline-block;
    padding: 20px;
    border: 2px solid gray;
    
}

/* Ajustando cor, tamanho e posicionamento do main */
main {
    background-color: #f2f2f2;
    width: 100%;
    position: relative;
    margin-top: 140px;

}

/* Inserindo bordas pontilhadas e ajustando o padding nas sections */
section {
    border-top: 2px dotted gray;
    border-bottom: 2px dotted gray;
    padding: 30px;
}
/* Inserindo bordas pontilhadas, cores e ajustando o padding nos articles */
article {
    padding: 10px;
    margin: 0px 0;
    background-color: #a972dd38;
    border-bottom: 2px dotted gray;
    
}

/* Alinhando ao centro e inserindo uma cor no h1 */
h1 {
    text-align: center;
    color: turquoise;
}

/* Alinhando ao centro e inserindo uma cor e um underline no h2 */
h2 {
    text-align: center;
    text-transform: none;
    text-decoration: underline;
    color: turquoise;
}

/* Alterando a cor do paragrafo na classe descricao */
.descricao p {
    color: black;
}

/* Alterando a cor do paragrafo na classe noticias */
.noticias p {
    color: rgba(116, 3, 116, 0.746);
    width: 100%;
}


/* Ajustando o tamanho e posicionando o footer */
footer {
    text-align: center;
    width: 100%;
    border: 2px solid black;
    background-color: rgba(42, 38, 32, 0.692);
    padding: 20px;
    position: relative;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;

}

/* Alinhando as imagens ao centro */
img {
    text-align: center;
}

/* Fixando a imagem do WhatsApp no canto esquerdo inferior e 
ajustando o tamanho de tal forma que coubesse dentro do footer quando rolasse o scroll para baixo  */
img.chat {
    width: 80px;
    height: 80px;
    position: fixed;
    right: 30px;
    bottom: 10px;
    z-index: 1;

}

/* Ajustando o tamanho do banner */
img.banner {
    width: 100%;
    padding: 30px;
    margin: 10px;
}

/* Ajustando o tamanho das imagens dos ícones */
.listaImagens img {
    width: 25px;
}